# --- Base Django ---
Django==5.2.4
gunicorn==23.0.0
whitenoise==6.9.0
asgiref==3.9.1
sqlparse==0.5.3
pytz==2022.1

# --- Django extensions ---
django-allauth==65.9.0
django-ckeditor==6.7.3
django-js-asset==3.1.2
django-parler==2.3
django-widget-tweaks==1.5.0

# --- Environnement & config ---
python-dotenv==1.1.1
python-decouple==3.8

# --- IA / NLP / Deep Learning ---
torch==2.8.0
transformers==4.56.1
accelerate==1.10.1
groq==0.30.0

# --- Données / Analyse / PDF ---
pandas==2.3.1
numpy==2.2.6
scipy==1.15.3
reportlab==4.4.3
python-docx==1.2.0
docxtpl==0.20.1
PyMuPDF==1.26.3
pdf2image==1.17.0
pytesseract==0.3.13
weasyprint==66.0

# --- Web / API / Réseau ---
requests==2.32.5
aiohttp==3.12.14
httpx==0.28.1
beautifulsoup4==4.8.2
user-agents==2.2.0

# --- Outils divers ---
tqdm==4.67.1
regex==2025.9.1
typing_extensions==4.14.1
stripe==12.5.0
opencv-python==4.12.0.88

# --- Serveur ASGI (optionnel si tu veux passer à async) ---
uvicorn==0.35.0
